<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927112075779-93bl1u69ujsv934n2t79m0ji591ce10p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927112075779-93bl1u69ujsv934n2t79m0ji591ce10p</string>
	<key>API_KEY</key>
	<string>AIzaSyDrakCTlzycQNefAwCz5SyBvUdCdYdkhIE</string>
	<key>GCM_SENDER_ID</key>
	<string>927112075779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scranimalsfetest.app</string>
	<key>PROJECT_ID</key>
	<string>scranimals-test</string>
	<key>STORAGE_BUCKET</key>
	<string>scranimals-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927112075779:ios:2c5836f65d289dd3348c36</string>
</dict>
</plist>